body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.column-info-tooltip .complementary-mark {
    background-color: #333333;
    color: #dddddd;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    text-align: center;
}

.column-info-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.column-info-tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.column-info-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}



